# Node
/node_modules
npm-debug.log*
yarn-error.log

# Expo
.expo/
.expo-shared/
/web-build/
/ios/
/android/

# Secrets
google-services.json
GoogleService-Info.plist
*.jks
*.p12
*.key
credentials.json

# Build files
*.apk
*.ipa

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment variables
.env
.env.*
!.env.example
